{{#if projects}}
<div class="card-group">
  {{#each projects}}
  <div class="col-md-4">
    <div class="card">
      <div><a href="/portfolio/projects/{{name}}"><img class="card-img-top" alt="" src="{{imagePath}}"></a></div>
      <div class="card-body">
        <div class="project-name">{{name}}</div>
        <div class="project-description">{{description}}</div>
        <a target="_blank" href="{{gitUrl}}">GitHub Repository</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="col-md-12 text-center">
  <div class="white-box pad20 mar20 border-around">
    no projects available
  </div>
</div>
{{/if}}
